<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>228917163407-l4gvaofl9650974j759lv9v0aesjkmoc.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.228917163407-l4gvaofl9650974j759lv9v0aesjkmoc</string>
	<key>API_KEY</key>
	<string>AIzaSyB4OOTXFqxJJSD4Y3CQ5JGK2R1ytL1lPHI</string>
	<key>GCM_SENDER_ID</key>
	<string>228917163407</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.rentalhub</string>
	<key>PROJECT_ID</key>
	<string>rentalhub-8b64e</string>
	<key>STORAGE_BUCKET</key>
	<string>rentalhub-8b64e.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:228917163407:ios:8ef16655e82cb4f72cc7fa</string>
</dict>
</plist>